/* common css */ 
*{
	padding:0 ;
	margin:0;
}
html, body {
     height:100%;
	font-family: 'Khula', sans-serif;
	box-sizing:border-box;

 }
.fix{
	 overflow:hidden;
}
.main{
	 width:1170px;
	 margin:0 auto;
	font-family:'Khula', sans-serif;
}

/*  Header Css Start */
.header_area {
	position: absolute;
	top: 0;
	z-index: 99;
	width: 100%;
}
.header{}
.header_logo ,.footer_logo{
	width: 70px;
	text-align: center;
	float: left;
	margin-top: 16px;
}
.header_logo img{}
.main_menu {
	width: 600px;
	float: left;
	text-align: right;
	margin-top: 31px;
	float: right;
	margin-bottom: 31px;
}
.main_menu ul{list-style: none;float:left;}
.main_menu ul li,.footer_menu ul li {
	display: inline-block;
}
.main_menu ul li a ,.footer_menu ul li a{
	text-decoration: none;
	font-size: 15px;
	font-weight: 400;
	color: #ffffff;
	margin-right: 21px;
	margin-bottom: 10px;
	margin-top: 12px;
	transition: .4s;
}
.main_menu ul li a:hover,.footer_menu ul li a:hover {
	color: #06d6a0;
}
.main_menu i {
	color: #fff;
	font-size: 15px;
}
/* Header Css  End */
/*  Slider Css Start */
.slider {
	height: 100%;
}
.single_slider {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	height: 100vh;
	width: 100%;
	z-index: 1;
}
.single_slider::before ,.cta_area::before{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .9;
	z-index: -1;
	background: linear-gradient(to right,#1D59C9,#26B7D8);
}
.single_slider_content {
	width: 571px;
	margin: 0px auto;
	height: 100%;
	text-align: center;
}
.slider_table {
  width: 100%;
  height: 100%;
  display: table;
}
.slider_tablecell {
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}
.slider_tablecell h1 {
	font-size: 65px;
	line-height: 70px;
	font-weight: 400;
	color: #fff;
}
.slider_tablecell p {
	font-size: 15px;
	text-align: center;
	line-height: 28px;
	font-weight: 300;
	color: #fff;
	margin: 37px 0px;
}
.slider_tablecell i {
	font-size: 18px;
	color: #fff;
	width: 60px;
	height: 60px;
	background-color: #06d6a0;
	line-height: 60px;
	border-radius: 50%;
}
.slider .owl-nav  div {
	height: 40px;
	width: 40px;
	text-align: center;
	position: absolute;
	top: 50%;
	line-height: 40px;
	font-size: 24px;
	color: #fff;
	left: 76px;
}
.slider .owl-nav div.owl-next {
	left: auto;
	right: 76px;
}
.seo_area {
	margin-top: 107px;
}
.seo {
	text-align: center;
}
.section_title {
	margin-bottom: 48px;
}
.section_title h2 {
	font-size: 24px;
	color: #373737;
	font-weight: 400;
	margin-bottom: 15px;
}
.section_title p {
	font-size: 15px;
	color: #999999;
	line-height: 28px;
	margin-bottom: 42px;
	font-weight: 300;
}
.seo_area_form{}
.seo_area_form form{}
.seo_area_form input {
	width: 299px;
	padding: 19px 0px 19px 10px;
	margin-right: 21px;
	border: 1px solid #ddd;
	font-size: 14px;
	font-weight: 300;
	color: #888888;
	text-align: left;
}
.seo_area_form  input[type="text"]{}
.seo_area_form a {
	text-decoration: navajowhite;
}
.blk_btn {
	padding: 15px 31px;
	font-size: 14px;
	line-height: 24px;
	color: #fff;
	background-color: #06d6a0;
	border-radius: 2px;
	font-weight: 600;
	transition: .4s;
}
.blk_btn:hover {
	background-color: #333333;
}
.seo_area_form input:focus {
	border: 1px solid #06D6A0;
}
/*  Slider Css End */
/*  About Css Start */
.about_area {
	margin-top: 107px;
}
.about{}
.about_left {
	width: 517px;
	float: left;
}
.about_left img{}
.about_right {
	width: 526px;
	float: right;
	padding: 56px 0px;
}
.about_right a {
	text-decoration: navajowhite;
	padding: 18px 32px;
}
.about_right p {
	margin: 37px 0px 48px;
}
.about_right .section_title {
	text-align: left;
}
/*  About Css End */
/* Service Css Start */
.service_area {
	margin: 117px 0px;
}
.service{}
.section_title {
	width: 551px;
	margin: 0px auto;
	text-align: center;
	margin-bottom: 85px;
}
.services {
	padding-top: 54px;
}
.single_services {
	width: 370px;
	float: left;
	text-align: center;
	box-sizing: border-box;
	margin-right: 30px;
	border: 2px solid #ddd;
	padding: 48px 10px;
	min-height: 380px;
	transition:.4s;
}
.single_services:hover {
	border: 2px solid #06D6A0;
}
.single_services:last-child ,.single_blog:last-child {
	margin-right: 0px;
}
.single_services h2{
	font-size: 70px;
	font-weight: 400;
	color: #e0e0e0;
}
.single_services h3 {
	font-size: 20px;
	color: #373737;
	font-weight: 400;
}
.single_services p {
	padding: 30px 0px;
	color: #999999;
	font-size: 15px;
	font-weight: 400;
}
.single_services a {
	text-decoration: navajowhite;
	font-size: 15px;
	font-weight: 400;
	color: #373737;
}
.single_services:hover.single_services a {
	color: #06d6a0;
}
.border_btn{}
.single_services i {
	font-size: 13px;
	padding-left: 11px;
}
/* Service Css End */
/* Case Study  Css Start */
.case_study_area {
	margin-bottom: 114px;
}
.case_study{}
.cases{}
.single_case {
	/* width: 271px; */
	width:100%;
	float: left;
	position: relative;
	height: 301px;
}
.single_case::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #10D7A3;
	opacity: 0;
	transform: scale(0);
	transition: .6s;
}
.single_case:hover::before {
	opacity: 1;
	transform: scale(1.0);
}
.single_case img {
	width: 100%;
	height: 100%;
}
.img_hover {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	opacity: 0;
	transition: .6s;
	transform: scale(0);
}
.single_case:hover .img_hover {
	opacity: 1;
	transform: scale(1.0);
}
.img_hover h3 {
	font-size: 20px;
	color: #fff;
	font-weight: 400;
}
.img_hover h4 {
	font-size: 14px;
	color: #fff;
	font-weight: 300;
}
.img_hover i {
	font-size: 17px;
	color:#fff;
}
.img_hover_table {
  width: 100%;
  height: 100%;
  display: table;
}
.img_hover_tablecell {
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}
/* Case Study  Css End */
/* Blog Css Start */
.blog_area {
	margin-bottom: 119px;
}
.blog{}
.single_blog {
	width:31%;
	display: inline-block;
	min-height: 530px;
	border: 2px solid #f9f9f9;
	box-shadow: 0px 15px 11px -12px #ddd;
	margin-right: 19px;
}
.single_blog img {
	opacity: .8;
	width:100%;
}
.single_blog:hover.single_blog img {
	opacity: 1;
}
.blog_pera {
	width: 330px;
	padding: 0px 20px;
}
.blog_pera h5 {
	font-size: 14px;
	font-weight: 300;
	color: #999999;
}
.blog_pera h3 {
	font-size: 18px;
	font-weight: 400;
	color: #373737;
	margin-top: 19px;
	margin-bottom: 30px;
}
.blog_pera p {
	font-size: 15px;
	font-weight: 300;
	color: #999999;
	line-height: 28px;
}
/* Blog Css End */
/* Cat  Css Start */
.cta_area {
	background-image: url(img/middle_section.jpg);
	background-position: right;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: relative;
	z-index: 99;
}
.cta {
	width: 709px;
	margin: 0 auto;
	text-align: center;
	padding-top: 109px;
	padding-bottom: 109px;
}
.cta h2{
	font-size: 40px;
	font-weight: 400;
	color: #fff;
	line-height: 26px;
}
.cta p {
	font-size: 18px;
	font-weight: 300;
	color: #fff;
	line-height: 26px;
	padding: 19px 0px 51px 0px;
}
.cta a{text-decoration:none;}
.cta .blk_btn {
	background-color: #fff;
	font-weight: 700;
	color: #373737;
}
.cta .blk_btn:hover {
	background-color: #06D6A0;
	color: #fff;
}
/* Cat  Css End */
/* Footer Css Start */
.footer_area {}
.footer_up {
	padding: 38px 0px;
	border-bottom: 1px solid #f4f4f4;
}
.footer{}
.footer_logo{margin-top:0px}
.footer_logo img{}
.footer_menu {
	width: 930px;
	margin: 0px auto;
	text-align: center;
	float: left;
	padding-top: 6px;
}
.footer_menu ul {
	list-style: none;
}
.footer_menu ul li{}
.footer_menu ul li a{color:#373737;}
.footer_social_media {
	text-align: right;
	padding-top: 6px;
	transition:.4s;
}
.footer_social_media ul li a:hover {
	color: #45BD98;
}
.footer_social_media ul,.footer_down_right ul{list-style: none;}
.footer_social_media ul li,.footer_down_right ul li{display: inline-block;}
.footer_social_media ul li a,.footer_down_right ul li a{font-size: 15px;color: #373737;line-height: 24px;margin-right: 15px;text-align:right;text-decoration:none;}
.footer_down {
	padding: 27px 0px;
}
.footer_down_left {
	width: 394px;
	float: left;
}
.footer_down_left p {
	font-size: 15px;
	color: #999999;
	font-weight: 400;
}
.footer_down_right {
	width: 334px;
	float: right;
	text-align:right;
}
.footer_down_right ul{}
.footer_down_right ul li{}
.footer_down_right ul li a {
	font-weight: 400;
	color: #999999;
}
.footer_down_right ul li:hover a {
	color: #10D7A3;
}
/* Footer Css End */